Assignment Content:

1. Using the tic-tac-toe dataset, implement Logistic Regression using Jupyter Notebook and Python as well as the Linear Regression sklearn package (Links to an external site.)Links to an external site. to predict if the player won or not (i.e. column labeled as “class). Split this dataset into training/test splits, and implement any cross-validation method of your choice reporting on the accuracy of your results. You must get a greater accuracy rate than the accuracy rate of the simplistic algorithm presented in lecture, so play around with different parameters and make decisions on which eta rate, regularization, etc.. are needed in order to achieve better results. These results should be close to 70% accuracy. Justify your results and the parameters used when creating this model.

 2. Complete the Machine Learning Principles course assessment survey (you won’t need to study for this, we merely use it as feedback to improve the course based on your input, so be honest)

Deliverables:

-One .ipynb file pertaining to the Logistic Regression implementation and results. The code should print out the accuracy rate of the cross-validation procedure pertaining to the highest test results (averaged over the number of iterations if needed). Also briefly explain the optimization procedures used, making a note of any parameter decisions i.e. eta rate, regularization, etc… (these can all be markup or print statements in the .ipynb file)

-Completed survey on Canvas

In [2]:
# Standard libary and settings
import warnings; warnings.simplefilter('ignore')
from IPython.core.display import display, HTML; display(HTML("<style>.container { width:95% !important; }</style>"))


# Data extensions and settings
import numpy as np
np.set_printoptions(threshold = np.inf, suppress = True)
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '{:,.6f}'.format


# Modeling extensions
import sklearn.metrics as metrics
import sklearn.model_selection as model_selection
import sklearn.linear_model as linear_model

In [9]:
# Load and inspect data

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data'
                 ,sep = ','
                 ,names = ['top-left-square', 'top-middle-square', 'top-right-square',
 'middle-left-square', 'middle-middle-square', 'middle-right-square',
 'bottom-left-square', 'bottom-middle-square', 'bottom-right-square','outcome'])

for column in df:
    df[column] = df[column].astype('category')
    df[column] = df[column].cat.codes

df.info()
display(df[:5])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
top-left-square         958 non-null int8
top-middle-square       958 non-null int8
top-right-square        958 non-null int8
middle-left-square      958 non-null int8
middle-middle-square    958 non-null int8
middle-right-square     958 non-null int8
bottom-left-square      958 non-null int8
bottom-middle-square    958 non-null int8
bottom-right-square     958 non-null int8
outcome                 958 non-null int8
dtypes: int8(10)
memory usage: 9.4 KB

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,outcome
0,2,2,2,2,1,1,2,1,1,1
1,2,2,2,2,1,1,1,2,1,1
2,2,2,2,2,1,1,1,1,2,1
3,2,2,2,2,1,1,1,0,0,1
4,2,2,2,2,1,1,0,1,0,1

In [10]:
# Train/ test split

X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

XTrain, XTest, yTrain, yTest\
      = model_selection.train_test_split(X, y, test_size = 0.2, random_state = 1, stratify = y)